:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #131720;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
